[submodule "subs/oh-my-zsh"]
	path = subs/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "subs/vim/bundle/Vundle.vim"]
	path = subs/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
